.main-title {
    background: url("../img/logo-1.png");
    font-family: sans-serif;
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
    width: 410px; /* TODO: fix logo to width: 380px */
    height: 308px;
    text-indent: -999em;
}

.product-list {
    padding: 0;
}

.product-list > li {
    list-style: none;
    margin: 2em 0;
}

.product-list img {
    width: 400px;
    height: 400px;
}

.product-list > li a {
    display: inline-block;
}

/* horizontal layout on biggish screens */
@media only screen and (min-height: 420px) and (orientation: landscape),
       only screen and (min-width: 640px){
    html, body {
        direction: rtl;
        height: 97%;
    }
    
    .product-list {
        display: inline-table;
        margin: 0 10em;
        height: 100%;
        white-space: nowrap;
    }
    .product-list > li {
        padding: 0 2em;
        display: table-cell;
        vertical-align: middle;
    }
}

