{% extends "base.html" %}

{% block bodyclass %}index{% endblock %}

{% block content %}
    <ul class="article-list">
        {% for article in articles %}
            <li><figure>
                <a href="{{ SITEURL }}/{{ article.url }}"><img src="{{ article.feature_pic }}"
                                                               alt="{{ article.title }}" /></a>
                <figcaption>
                    {{- article.summary }}
                    <a class="read-on" href="{{ SITEURL }}/{{ article.url }}">Read on</a>
                </figcaption>
            </figure></li>
        {% endfor %}
    </ul>
{% endblock content %}
