body {
    font-size: 100%;
}

.main-title {
    background: url("../img/logo-1.png");
    font-family: sans-serif;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 380px;
    height: 285px;
    text-indent: -999em;
    z-index: 99;
}

/*
 * Index styles
 */

body.index .main-title {
    position: fixed;
}

.article-list {
    padding: 0;
}

.article-list > li {
    list-style: none;
    margin: 2em 0;
}

.article-list figure {
    border: 2px solid black;
    border-radius: 5px;
    max-height: 25em; /* 400px */
    max-width: 25em;
    overflow: hidden;
    position: relative;
    transition: max-height 1s ease-out;
    -webkit-transition: max-height 1s ease-out;
}

.article-list > li figure figcaption {
    hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    padding: 0.2em 0.5em 0.5em;
    text-align: justify;
}

.article-list img {
    max-height: 25em;
    max-width: 25em;
}

/* figcaption superimposes img on small screens */
@media only screen and (max-height: 42em) {
    .article-list figure figcaption {
        background: rgba(255, 255, 255, .612);
        border-top: 2px solid black;
        position: absolute;
        bottom: -25em;
        transition: bottom 1s ease-out;
        -webkit-transition: bottom 1s ease-out;
    }
    .article-list figure:hover figcaption {
        bottom: 0;
    }
}

/* figcaption appears below img on large screens */
@media only screen and (min-height: 42em) {
    .article-list figure:hover {
        max-height: 42em;
    }
}

.article-list > li a {
    display: inline-block;
}

/* horizontal layout on landscape screens */
@media only screen and (orientation: landscape) {
    html, body {
        height: 99%;
    }

    body.index {
        direction: rtl;
    }
    
    .article-list {
        display: inline-table;
        margin: 0 10em;
        height: 100%;
        white-space: nowrap;
    }
    .article-list > li {
        display: table-cell;
        vertical-align: middle;
    }

    .article-list > li figure {
        direction: ltr;
        margin: 0 2em;
        white-space: normal;
    }
}

/*
 * Article styles
 */

article .feature-picture {
    float: right;
    max-width: 23.75em; /* 380px */
    opacity: 0.7;
    overflow: hidden;
}

article h1 {
    margin-top: 0;
}